.custom-block.tip
  background-color #3e3b3b
  border-radius 0.4rem
  border-color #42B983
  .custom-block-title
    color: #42B983

.custom-block.warning
  background-color #3e3b3b
  border-radius 0.4rem

.custom-block.danger
  background-color #3e3b3b
  border-radius 0.4rem
  border-color #D3305B
  .custom-block-title
    color: #D3305B

img
  border-radius 0.4rem
  // &:hover
  //   opacity 0.5

.navbar
  border-bottom none
  .logo 
    margin 0px auto
  .links
    background-color transparent !important
  .site-name
    display none
    background-image url('/favicon.png');