$badgeRecommended = #73E48B
$badgeIndifferent = #E7C000
$badgeNotRecommended = #D3305B
$badgePS5 = #006FCD
$badgePS4 = #62BAFF
$badgeXboxOne = #009F00
$badgeSwitch = #FF6384
$badgePsPlus = #F9D330
$badgeXboxGamesPass = #107C0F
